@{
    ViewData["Title"] = "Contact Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="map-section py-5">
    <div class="container">
        <h2 class="fw-bold text-center mb-4">Our Location</h2>

        <div class="ratio ratio-16x9">
            <iframe
                src="https://www.google.com/maps?q=13.094953,77.495949&z=17&output=embed"
                style="border:0;"
                allowfullscreen
                loading="lazy">
            </iframe>
        </div>
    </div>
</section>